@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .w-paper {
        width: 8.5in;
    }

    .h-paper {
        height: auto;
    }
}

svg { 
    display: inline-block;
}

@media print and (color) {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}

html,
body {
    @apply bg-secondary-200;
    @apply box-border;
    @apply antialiased;
    @apply font-serif;
    
    font-size: 16px;
    font-feature-settings: 'kern', 'liga', 'ss01', 'ss03';
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
